<?xml version="1.0"?>
<!-- 
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368   
  -->
<configuration>
  <configSections>
    <section name="boundAssemblies" type="ShopLocal.Framework.BoundAssemblies.BoundAssemblySection, ShopLocal.Framework"/>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler,dotless.Core"/>
    <section name="machineEnvironments" type="ShopLocal.Framework.MachineEnvironments.MachineEnvironmentsSection, ShopLocal.Framework"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ConnectionStringsLocation" value="ConnectionStrings.xml"/>
    <add key="ContentKey" value="buddah"/>
    <add key="webCacheDurationSeconds" value="300"/>
    <add key="configurationCacheDurationSeconds" value="3600"/>
    <add key="seoStoreListCacheDurationSeconds" value="86400"/>
    <add key="SmtpServer" value="p-smtp01"/>
    <add key="FunctionalTestingCampaignID" value="c179476159686c8a"/>
    <add key="FunctionalTestingSiteID" value="1581"/>
    <add key="FunctionalTestingPRetailerID" value="-97945"/>
  </appSettings>
  <boundAssemblies>
    <assemblies>
      <add assemblyName="ShopLocal.SmartCircular.MvcWeb"/>
      <add assemblyName="ShopLocal.DomainLayer.SmartCircular.Data"/>
      <add assemblyName="ShopLocal.DomainLayer.SmartCircular.Domain"/>
      <add assemblyName="ShopLocal.Framework"/>
    </assemblies>
  </boundAssemblies>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="$(ReplacableToken_ApplicationServices-Web.config Connection String_0)" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dotless minifyCss="false" cache="false"/>
  <machineEnvironments>
    <machines>
      <!-- Development -->
      <add name="PTR-0694" environment="Development"/>
      <!-- QA -->
      <!-- Staging -->
      <!-- Production -->
    </machines>
  </machineEnvironments>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="ShopLocal.SmartCircular.MvcWeb.Infrastructure.Extensions"/>
        <add namespace="ShopLocal.Framework.Extensions"/>
        <add namespace="ShopLocal.Framework.Enumerations"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".less"/>
      <mimeMap fileExtension=".less" mimeType="text/less"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="06:00:00"/>
    </staticContent>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="ConnectionStrings.xml"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>