<?xml version="1.0" encoding="utf-8"?>
<project default="default" basedir=".">
    <property name="cachebuster" value="${datetime::get-ticks(datetime::now())}" />
    <target name="default">
        <call target="test_site" />
    </target>

    <target name="test_site">
      <sasscompile outputdir="testSite" failonerror="true">
        <fileset basedir="./">
          <include asis="true" name="scss/styles.scss" />
        </fileset>
      </sasscompile>
    </target>
</project>